body{
  margin:0;
  padding: 0;
  font: 1em sans-serif;
  }

.one{
  float: left;
  display: inline;
  width: 50%;
  height: 50vh;
}

.two{
  float: right;
  height: 100vh;
  width: 50%;
}

.three{
  float: left;
  width: 50%;
  height: 50vh;
}
.sangexiaotubiao1 {
  float: left;
  margin-left: 50px;
  margin-top: 200px;
}
.sangexiaotubiao2 {
  float: left;
  margin-left: -47px;
  margin-top: 240px;
}
.sangexiaotubiao3 {
  float: left;
  margin-top: 285px;
  margin-left: -40px;
}


