ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
ul li a:link, nav ul li a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;
/*
	text-shadow: 1px 1px 3px #e2c2c2; 
	text-transform: uppercase;
*/
}

ul li.selected {
	background-color: #c8b99c;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}